<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!--If you want to change the Language please refer details.xlsx sheet and specify required Language Values in Parameters below -->

<suite name="Suite1">
   <test name="test1">
   
      <parameter name="url" value="http://learntrakdev.cloudapp.net/"/>  
      <parameter name="verify_url" value="http://learntrakdev.cloudapp.net/"/>
      <parameter name="settings_url" value="http://learntrakdev.cloudapp.net/Settings"/>
      <parameter name="department_url" value="http://learntrakdev.cloudapp.net/Department"/>
      <parameter name="location_url" value="http://learntrakdev.cloudapp.net/ILT/Location"/>
      <parameter name="authenticate_url" value="http://learntrakdev.cloudapp.net/Account/Login?ReturnUrl=%2F"/>
      <parameter name="businessunit_url" value="http://learntrakdev.cloudapp.net/businessunit"/> 
      <parameter name="lang_type" value="Arabic"/> 
      <parameter name="sheetName" value="Arabic"/> 
      <parameter name="logout" value="تسجيل الخروج"/> 
      <parameter name="Exp_res_UN" value="اسم المستخدم مطلوب"/>
      <parameter name="Exp_res_PWD" value="كلمة المرور مطلوبة"/>
      <parameter name="Exp_res_invalid" value="اسم المستخدم وكلمة المرور خاطئين"/>
      <parameter name="place" value="Kuwait"/>
      
      <classes>
         <class name="scripts.Login" />
         <class name="util.BackUp" />
      </classes>
      
   </test>
</suite>